@import '~antd/dist/reset.css';

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body,div {
  font-family: 'Comfortaa', cursive;
}
.logo {
  background-color:lightblue;
  width: 50px;
  height: 31px;
  float: left;
  margin: 16px 24px 16px 0;
}